image: python:3.11

stages:
  - build
  - deploy

before_script:
  - pip install sphinx sphinx-rtd-theme

build:
  stage: build
  script:
    - sphinx-build -b html docs/source docs/build
  artifacts:
    paths:
      - docs/build

pages:
  stage: deploy
  script:
    - mkdir -p public
    - cp -r docs/build/* public/
  artifacts:
    paths:
      - public
  only:
    - main
