image: python:3.11

stages:
  - build
  - deploy

before_script:
  - pip install sphinx myst-parser sphinx-rtd-theme

build:
  stage: build
  tags:
    - sphinx
  script:
    - sphinx-build -b html . public
  artifacts:
    paths:
      - public

pages:
  stage: deploy
  tags:
    - sphinx
  script:
    - echo "Deploying to GitLab Pages"
  artifacts:
    paths:
      - public
  only:
    - main